customtkinter
matplotlib
numba
numpy
openpyxl
pandas
Pillow
plotly
pyteomics
scipy
opencv-python
lxml
kaleido
pyinstaller
aiofiles
altgraph
attrs
beautifulsoup4
certifi
charset-normalizer
choreographer
colorama
contourpy
cycler
darkdetect
defusedxml
fonttools
idna
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
llvmlite
logistro
MarkupSafe
narwhals
orjson
packaging
pyparsing
python-dateutil
requests
setuptools
simplejson
six
typing_extensions
tzdata
urllib3